<div class="home-container" *ngIf="!authService.isLoggedIn(); else connected">
    <h2>Bienvenue sur Pokémon App !</h2>
    <p class="intro">
        Découvrez les Pokémons, échangez vos cartes et gérez votre collection.
    </p>
    <div class="visitor-actions">
        <button routerLink="/login">Se connecter</button>
        <button routerLink="/register" class="register-btn">S'inscrire</button>
    </div>
</div>

<ng-template #connected>
    <p>Accueil de l’application. Sélectionnez une section dans le menu pour commencer.</p>
</ng-template>
